.landing-menu {
    width: 80%;
    margin: 0 auto;
    background-color: #E7E7E7;
    border-radius: 25px;
    position: relative;
    top: -22px;
}

.landing-menu__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landing-menu__list__item {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}