.registration-page {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 40%;
  background-color: #b1adad;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-container {
  width: 60%;
  height: 100vh;
  background-color: #1f212b;
}

.reg-logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.reg-page-image {
  width: 100%;
}

.reg-form-wrapper {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-reg-button {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  background: #ed7a7a;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid #ed7a7a;
  transition-duration: 1s;
}

.user-reg-button:hover {
  border-color: #ffffff;
  box-shadow: 0 0 10px #ffffff;
  background-color: #a32121;
}

.google-container {
  height: 80px;
  border-bottom: 2px solid #c0bcbc;
  margin-bottom: 10px;
}

.input-field {
  width: 96%;
  background: #dbdbdb;
  border-radius: 10px;
  height: 30px;
  border: none;
  margin-top: 9px;
  outline: none;
  padding-left: 4%;
  font-size: 16px;
  border: 1px solid #dbdbdb;
}

.input-field:focus {
  background-color: #ffffff;
  border: 1px solid #ed7a7a;
  box-shadow: 0px 0px 10px #ed7a7a;
}

.label {
  display: block;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 20px;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.name-container-field {
  width: 43%;
}

.submit-container {
  text-align: center;
  margin-top: 30px;
}

.submit {
  font-size: 20px;
  line-height: 24px;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.reg-error {
  color: #a32121;
  margin-top: 3px;
}

.ur-header {
  color: #ffffff;
  font-size: 33px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
}
