.pf-search-container {
  margin-bottom: 30px;
}

.pf-search {
  width: 97%;
  padding: 10px 0 10px 3%;
  background: #d7d6d6;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}
